.top {
    display: inline-block;
    width: auto;
    text-align: justify;
}
#searcher {
    padding: 5%;
}
#filledSearch {
    width: auto;
    color: white;
    background-color: #E1E1E1;
}
#titleBox {
    margin-top: auto;
    text-align: center;
}
#title {
    background: linear-gradient(90deg,#8A2387,#F27121);
    text-align: center;
    width: auto;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
#title2 {
    margin-top: -30px;
    font-family: "League Spartan", serif;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    color: white;
    text-align: center;
}
#logo {
    margin-top: auto;
    margin-left: 3%;
    float: left;
}
#logoImage {
    width: 30%;
    height: 30%;
}
#gallery {
    display: flex;
    justifyContent: center;
    gap: 10px;
    margin-top: 1%;
    margin-left: 20%;
    maxWidth: 80%;

}
#galleryImage {
    border-radius: 8px;
}
#footer {
    padding: 10px;
    margin-top: 8%;
}
#footerLetters {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    color: #7e7e7e;
    font-size: 10px;
}
#movieList {
    margin-top: 3%;
    margin-left: 21%;
    background: linear-gradient(90deg,#8A2387,#F27121);
    -webkit-background-clip: text;
    color: transparent;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
#movieList2 {
    background: white;
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 21%;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-size: 30px;
    font-style: normal;
}